.title {
	margin-bottom: 24px;
	font-size: 48px;
	text-align: center;
	color: darkred;
}

.lugrasimoBold {
    font-family: "Lugrasimo", cursive;
    font-weight: 700;
    font-style: normal;
}

.titleLugrasimoBold{
	composes:lugrasimoBold;
	margin-bottom: 24px;
	font-size: 48px;
	text-align: center;
	color: darkred;
}